<form id="formulario" (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
  <h1 class="text-primary">REGISTRO DE PERSONAS</h1>

  <app-datos *ngIf="valores" [values]="valores"></app-datos>

  <div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="model.name" name="name" id="exampleFormControlInput1"
        placeholder="Nisely Romero">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">DNI</label>
      <input type="number" class="form-control" [(ngModel)]="model.dni" name="dni" id="exampleFormControlInput1"
        placeholder="76419394">
    </div>

    <select class="form-select" name="estadocivil" [(ngModel)]="model.estadocivil" aria-label="Default select example">
      <option selected>Seleccione su estado civil</option>
      <option value="Soltero">Soltero</option>
      <option value="casado">Casado</option>
      <option value="divorciado">Divorciado</option>
    </select>

    <br>

    <button type="submit" class="btn btn-info btn-lg">Enviar</button>

  </div>
</form>